[submodule "Vulkan/vendor/VulkanMemoryAllocator"]
	path = Vulkan/vendor/VulkanMemoryAllocator
	url = https://github.com/SimoneBallesio/VulkanMemoryAllocator
[submodule "Vulkan/vendor/spdlog"]
	path = Vulkan/vendor/spdlog
	url = https://github.com/SimoneBallesio/spdlog
[submodule "Vulkan/vendor/glm"]
	path = Vulkan/vendor/glm
	url = https://github.com/SimoneBallesio/glm
[submodule "Vulkan/vendor/tinyobjloader"]
	path = AssetParser/vendor/tinyobjloader
	url = https://github.com/SimoneBallesio/tinyobjloader
[submodule "AssetLibrary/vendor/json"]
	path = AssetLibrary/vendor/json
	url = https://github.com/nlohmann/json
[submodule "AssetLibrary/vendor/lz4"]
	path = AssetLibrary/vendor/lz4
	url = https://github.com/lz4/lz4
